@model IEnumerable<KafeCruisers.Models.Truck>

@{
    ViewBag.Title = "TruckSelector";
}
  <style>
      table.table {
          width: 100%;
      }
      
  </style>  
<h2>Trucks</h2>

<p>
    @Html.ActionLink("Add Truck", "Create", null, new { @class = "button" })
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.TruckName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    
<tr>
    <td>
        @Html.ActionLink("Orders", "ViewTruckOrders", "Truck", new { id = item.TruckId }, new { @class = "button" })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TruckName)
    </td>
    <td>
        @{ 
            string startString = item.StartTime.ToString("h:mm tt");
        }
        @Html.DisplayFor(modelItem => startString)
    </td>
    <td>
        @{
            string endString = item.EndTime.ToString("h:mm tt");
        }
        @Html.DisplayFor(modelItem => endString)
    </td>
    <td>
        @Html.ActionLink("Menu", "ViewTruckMenu", "Menu", new { id = item.TruckId }, new { @class = "button" })
    </td>
    <td>
        @Html.ActionLink("Hours", "EditTruckHours", "Truck", new { id = item.TruckId }, new { @class = "button" })
    </td>

    <td>
        @Html.ActionLink("Location", "ViewLocations", "Location", new { id = item.TruckId }, new { @class = "button" })
    </td>
</tr>
}

</table>
