@model IEnumerable<KafeCruisers.Models.Truck>

@{
    ViewBag.Title = "TruckSelector";
}
    <style>
        
        a.button {
            display: inline-block;
            padding: 0.35em 1.2em;
            border: 0.1em solid #FFFFFF;
            margin: 0 0.3em 0.3em 0;
            border-radius: 0.12em;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: #333333;
            text-align: center;
            transition: all 0.2s;
            background-color: #0063a9;
        }

            a.button:hover {
                color: #000000;
                background-color: #FFFFFF;
            }
    </style>
<h2>TruckSelector</h2>

<p>
    @Html.ActionLink("Add Truck", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.TruckName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    
<tr>
    <td>
        @Html.ActionLink("View Orders", "ViewTruckOrders", "Truck", new { id = item.TruckId }, null)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TruckName)
    </td>
    <td>
        @{ 
            string startString = item.StartTime.ToString("h:mm tt");
        }
        @Html.DisplayFor(modelItem => startString)
    </td>
    <td>
        @{
            string endString = item.EndTime.ToString("h:mm tt");
        }
        @Html.DisplayFor(modelItem => endString)
    </td>
    <td>
        @Html.ActionLink("Add Menu Item", "AddMenuItem", "Menu", new { id = item.TruckId }, null)
    </td>
    <td>
        @Html.ActionLink("Edit Hours", "EditTruckHours", "Truck", new { id = item.TruckId }, null)
    </td>

    <td>
        @Html.ActionLink("Set Location", "ViewLocations", "Location", new { id = item.TruckId }, null)
    </td>
</tr>
}

</table>
