@model IEnumerable<KafeCruisers.Models.OrderItem>
@{
    ViewBag.Title = "ViewOrderItems";
}

<h2>View Order Items</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @{ var priceString = string.Format("{0:0.00}", item.Price); }
                $@Html.DisplayFor(model => priceString)
            </td>
            <td>
                @Html.ActionLink("View Details", "ReviewSelectedItemByEmployee", "Order", new { id = item.OrderItemId }, null)

            </td>
        </tr>
    }

    <p>
        @Html.ActionLink("Back To Orders List", "ViewTruckOrders", "Truck", new { id = ViewBag.Return }, null)
    </p>

</table>
