@model IEnumerable<KafeCruisers.Models.Order>

@{
    ViewBag.Title = "ViewTruckOrders";
}

<h2>ViewTruckOrders</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UniqueId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FillTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UniqueId)
    </td>
    <td>
        @{
            string startString = item.StartTime.ToString("h:mm tt");
        }
        @Html.DisplayFor(modelItem => startString)
    </td>
    <td>
        @{
            string fillString = item.FillTime.ToString("h:mm tt");
        }
        @Html.DisplayFor(modelItem => fillString)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderPrice)
    </td>
    <td>
        @Html.ActionLink("View Order", "ViewOrderItems", new { id = item.OrderId })
    </td>
    <td>
        @Html.ActionLink("Order Filled", "OrderFilled", "Order", new { id = item.OrderId }, null)
    </td>
</tr>
}

</table>

<td>
    @Html.ActionLink("Back To Truck List", "TruckSelector", "Truck")
</td>
