<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kafe Cruisers</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<style type="text/css">
    #header {
        background-color: #0095ff;
        height: 20%;
        width: 100%;
    }

    div.navbar-inverse {
        background-color: #004f88;
        
    }

    body, html {
        margin: 0;
        background-color: #0095ff;
    }
</style>

</head>
<body runat="server">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Kafe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (User.IsInRole("AppManager"))
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Trucks", "TruckSelector", "Truck")</li>
                        <li>@Html.ActionLink("Locations", "LocationsList", "Location")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            }
            else if (User.IsInRole("Customer"))
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Order", "CustomerTruckSelector", "Truck")</li>
                       
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            }
            else { 
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kafe Cruisers</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("Stripe", required: false)
</body>
</html>
