@model IEnumerable<KafeCruisers.Models.Location>

@{
    ViewBag.Title = "LocationsList";
}

    <style>

        a.button {
            display: inline-block;
            padding: 0.35em 1.2em;
            border: 0.1em solid #FFFFFF;
            margin: 0 0.3em 0.3em 0;
            border-radius: 0.12em;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: #333333;
            text-align: center;
            transition: all 0.2s;
            background-color: #0063a9;
        }

            a.button:hover {
                color: #000000;
                background-color: #FFFFFF;
            }
    </style>

<h2>Locations</h2>

<p>
    @Html.ActionLink("Add Location", "AddLocation", "Location", new { @class = "button" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", null, new { id=item.LocationId, @class = "button" })
        </td>
    </tr>
}

</table>
