@model IEnumerable<KafeCruisers.Models.Location>

@{
    ViewBag.Title = "LocationsList";
}

    

<h2>Locations</h2>

<p>
    @Html.ActionLink("Add Location", "AddLocation", "Location", new { @class = "button" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", null, new { id=item.LocationId, @class = "button" })
        </td>
    </tr>
}

</table>
