@model IEnumerable<KafeCruisers.Models.Location>

@{
    ViewBag.Title = "View Locations";
}

    

<h2>View Locations</h2>

<p>
    @Html.ActionLink("Add New Location", "AddLocation", "Location", null, new { @class = "button" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.ActionLink("Set Truck To This Location", "SetLocation", "Truck", new { id=item.LocationId, truckId = ViewBag.truck }, new { @class = "button" })
        </td>
    </tr>
}

</table>
