@model IEnumerable<KafeCruisers.Models.OrderItem>
@{
    ViewBag.Title = "FinalOrderReview";
}

<h2>Order Review</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Size)
        @Html.DisplayFor(modelItem => item.ItemName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.ActionLink("View Details", "ReviewSelectedItem", "Order", new { id = item.OrderItemId }, new { @class = "button" })

    </td>
</tr>
    }

<p>
    @{
        string timeString = ViewBag.Time.ToString("h:mm tt");
    }
    Order Ready At: @timeString
</p>

    <p>
        @Html.ActionLink("Place Order", "OrderAccepted", "Order", null, new { @class = "button" })
    </p>
    <p>
        @Html.ActionLink("Cancel Order", "OrderCancelled", "Order", null, new { @class = "button" })
    </p>
</table>