@model IEnumerable<KafeCruisers.Models.OrderItem>
@{
    ViewBag.Title = "ReviewOrderBeforeCheckout";
}

<h2>Review Order</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @{ 
                    var priceString = string.Format("{0:0.00}", item.Price);
                }
                @Html.DisplayFor(modelItem => priceString)
            </td>
            <td>
                @Html.ActionLink("View Details", "ReviewOrder", "Order", new { id = item.OrderItemId }, null)
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveOrderItem", "Order", new { id = item.OrderItemId }, null)
            </td>
        </tr>
    }

    <p>
        @Html.ActionLink("Schedule Pick Up Time", "SchedulePickUp", "Order")
    </p>

</table>

@{ 
    var totalString = string.Format("{0:0.00}", ViewBag.TotalOrderPrice);
}
<p>Total Price: $@totalString</p>

<p>
    @Html.ActionLink("Add Another Drink", "AdditionalDrink", "Order")
</p>
