@model KafeCruisers.Models.Order

@{
    ViewBag.Title = "SchedulePickUp";
}
<style>
    input.button {
        width: 100%;
        max-width: 345px;
    }

    input.ui-timepicker-input {
        width: 100%;
        max-width: 345px;
        color: black;
    }
</style>
<h2>Choose Pick Up Time</h2>



@using (Html.BeginForm("SchedulePickUp", "Order", FormMethod.Post, new { id = "form1" }))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OrderId)
        @Html.HiddenFor(model => model.UniqueId)
        @Html.HiddenFor(model => model.StartTime)
        @Html.HiddenFor(model => model.TruckId)
        @Html.HiddenFor(model => model.CustomerId)
        @Html.HiddenFor(model => model.OrderPrice)

        <div class="form-group">
            
            <div class="col-md-10">


                Select a time:

                <div>
                    @Html.EditorFor(modelItem => Model.FillTime, new { htmlAttributes = new { @Value = "", @class = "ui-timepicker-input", @id = "timePicker" } })
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="button" />
                    </div>
                </div>


            </div>
        </div>
    </div>
}

@section Scripts {
<script type="text/javascript" src="/Scripts/jquery.timepicker.js"></script>
<script type="text/javascript" src="/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/Scripts/jquery.timepicker.js"></script>
<link href="/Scripts/jquery.timepicker.css" rel="stylesheet" />
<script type="text/javascript">
    
    var open = '@(ViewBag.TruckOpens)';
    
    var close = '@(ViewBag.TruckCloses)';

    var avaibs = @Html.Raw(ViewBag.AvaibsArray);
	

    $(function () {

        $('#timePicker').timepicker({
            'step': 1,
            'minTime': open, 
            'maxTime': close,
            'disableTimeRanges': avaibs,
            'disableTextInput': true,
            'orientation': 'rb'
                
            
        })
    });

</script>
    }