@model IEnumerable<KafeCruisers.Models.MenuItem>

@{
    ViewBag.Title = "StartOrder";
}

<h2>Drinks</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @{
            var priceString = string.Format("{0:0.00}", item.Price);
        }
        @Html.DisplayFor(modelItem => priceString)
    </td>
    <td>
        @Html.ActionLink("Select", "EditOrderItem", "Order", new { id = item.MenuItemId }, new { @class = "button" })

    </td>
</tr>
}

</table>
