@{
    ViewBag.Title = "Home Page";
}

<style>
    
a.button{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family: 'Roboto', sans-serif;
font-weight:400;
color:#333333;
text-align:center;
transition: all 0.2s;
background-color:#0063a9;
}
a.button:hover{
color:#000000;
background-color:#FFFFFF;
}

         
</style>

<div class="jumbotron">
    <h1>Kafe Cruisers</h1>
    
</div>



@if (ViewBag.role == "AppManager")
{
    <div>
        @Html.ActionLink("Select Truck", "TruckSelector", "Truck", null, new { @class="button" })
    </div>
    <div>
        @Html.ActionLink("Add Location", "AddLocation", "Location", null, new { @class="button" })
    </div>
}

else if (ViewBag.role == "Customer")
{
    <div>
        @Html.ActionLink("Place Order", "StartOrder", "Order", null, new { @class = "button" })
    </div>
    <div>
        @Html.ActionLink("Customer Truck Select", "CustomerTruckSelector", "Truck", null, new { @class = "button" })
    </div>
}

else
{
<h3>
    Welcome, Please @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</h3>
}





