@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Kafe Cruisers</h1>

</div>



@if (ViewBag.role == "AppManager")
{
    <div>
        @Html.ActionLink("Select Truck", "TruckSelector", "Truck", null, new { @class = "button" })
    </div>
    <div>
        @Html.ActionLink("Add Location", "AddLocation", "Location", null, new { @class = "button" })
    </div>
}

else if (ViewBag.role == "Customer")
{
    if (ViewBag.Resume == true)
    {
        <div>
            @Html.ActionLink("Resume Order", "ResumeOrder", "Order", null, new { @class = "button" })
        </div>
    }
    <div>
        @Html.ActionLink("Place Order", "CustomerTruckSelector", "Truck", null, new { @class = "button" })
    </div>
}

else
{
    <h3>
        Welcome, Please @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h3>
}





