@{
    ViewBag.Title = "Home Page";
}

<style>
    a.button {
        width: 100%;
    }

    img.logo {
        width: 100%;
        height: auto;
    }

    a#loginLink {
        color: white;
    }
</style>

<div class="jumbotron">
    <img class="logo" src="/Content/Images/KafeLogo.png" alt="Sample Photo" />

</div>



@if (ViewBag.role == "AppManager")
{
    <div>
        @Html.ActionLink("Trucks", "TruckSelector", "Truck", null, new { @class = "button" })
    </div>
    <div>
        @Html.ActionLink("Locations", "LocationsList", "Location", null, new { @class = "button" })
    </div>
}

else if (ViewBag.role == "Customer")
{
    if (ViewBag.Resume == true)
    {
        <div>
            @Html.ActionLink("Resume Order", "ResumeOrder", "Order", null, new { @class = "button" })
        </div>
    }
    <div>
        @Html.ActionLink("Place Order", "CustomerTruckSelector", "Truck", null, new { @class = "button" })
    </div>
    <div>
        @Html.ActionLink("View My Orders", "ViewMyOrders", "Order", null, new { @class = "button" })
    </div>
}

else
{
    <h3>
        Welcome, Please @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h3>
}





