@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    
</div>

<div>
    @Html.ActionLink("Create Truck", "Create", "Truck")
</div>
<div>
    @Html.ActionLink("Select Truck", "TruckSelector", "Truck")
</div>
<div>
    @Html.ActionLink("Place Order", "StartOrder", "Order")
</div>
<div>
    @Html.ActionLink("Add Menu Item", "AddMenuItem", "Menu")
</div>
<div>
    @Html.ActionLink("Add Employee", "Create", "Employee")
</div>
<div>
    @Html.ActionLink("Review Order Test", "TestReviewOrder", "Order")
</div>
<div>
    @Html.ActionLink("Add Location", "AddLocation", "Location")
</div>
<div>
    @Html.ActionLink("Customer Truck Select", "CustomerTruckSelector", "Truck")
</div>
<div>
    @Html.ActionLink("Stripe Test", "CreateCharge", "Cart")
</div>
